.app {
  width: 100%;
  height: auto;
  font-family: "Times New Roman", Times, serif;
}
body {
  padding: 0%;
  margin: 0%;
}
.header {
  display: flex;
  background-image: url("./images/4.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 350px;
  align-items: center;
  justify-content: center;
}
.header input {
  width: 40%;
  height: 40px;
  background-color: black;
  color: whitesmoke;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  margin-top: 270px;
}
.display {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}
.coin {
  width: 400px;
  height: 330px;
  background-color: black;
  color: white;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 10px;
  margin: 20px;
  text-align: center;
}

.coin img {
  margin-top: 10px;
  height: 90px;
}

.coin h3 a:link {
  color: rgb(226, 38, 38);
  text-decoration: none;
}
